<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Место для живых душ</title>
</head>
<body>
    <div>
        <h1 style="font-family: 'Comic Sans MS'; background-color: coral; text-align: center;">Непрекрытая душа</h1>
        <hr />
    </div>

    {% for post in posts %}
    <div>
        <h2 style="font-family: 'Comic Sans MS'; padding-left: 5px;"><a href="">{{ post.title }}</a></h2>
        <p style="width: 800px; text-align: justify; padding-left: 5px;">{{ post.text|linebreaksbr }}</p>
        <p style="padding-left: 5px;">Опубликовано: {{ post.published_date }}</p>
        <hr />
    </div>
                
    {% endfor %}

</body>
</html>