<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Место для живых душ</title>
</head>
<body>
    <div>
        <h1>Непрекрытая душа</h1>
    </div>

    <div>
        <p>Опубликовано: 17.02.2021, 20:33</p>
        <h2><a href="/">Этот мир слишком тесен для нас</a></h2>
        <p>Здесь будет какой-то текст.</p>
    </div>

    <div>
        <p>Опубликовано: 17.02.2021, 20:33</p>
        <h2><a href="/">Послевчера он спокойно уснул</a></h2>
        <p>Здесь тоже будет какой-то текст. Надо немного потерпеть.</p>
    </div>

    <div>
        <p>Опубликовано: 17.02.2021, 20:33</p>
        <h2><a href="/">Предатель Джонни Джо</a></h2>
        <p>Не знаю даже, что сказать.</p>
    </div>

</body>
</html>